<%- include("partials/header"); -%>

  <h1>Hello</h1>

  <div class=""> <!--calendar container-->
    <form action="/date" method="post">
      <input type="date" id="date" name="date">
      <button type="submit">Submit</button>
    </form>
  </div>

<%- include("partials/footer"); -%>
