<%- include("partials/header"); -%>

  <div class=""> <!--list container-->
    <div class=""> <!--list heading-->
      <div class=""> <!--list item-->

      </div>
    </div>
  </div>

  <div class=""> <!--calendar container-->
    <form action="/date" method="post">
      <input type="date" id="date" name="date">
      <button type="submit">Submit</button>
    </form>
  </div>

<%- include("partials/footer"); -%>
