/* Color palette : https://colorhunt.co/palette/130807 */

body{
  background-color: #f7f7f7;
}

/* Containers */
.main-page{
  height: 100vh;
}

/** List **/
.list-container{
  background-color: #eeeeee;
  height: 50vh;
  margin-bottom: 25vh;
  margin-top: 25vh;
}

.list-heading{
  text-align: center;
}

/*** Item ***/
.item-container{
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.item-checkbox{

}

.item-name{
  width: 100%;
}

.item-name p{
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
}

.new-item-name{
  padding-left: 20px;
  width: 100%;
}

.new-item-button{
  padding-left: 10px;
}

.calendar-container{
  background-color: #eeeeee;
  height: 50vh;
  margin-bottom: 25vh;
  margin-top: 25vh;
}

/* Input */
input[type="text"]{
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 100%;
}
